<div *ngIf="selectedProject && isVisualized">
    <h1>{{ selectedProject.name }}</h1>
    <div class="gallery-container">
        <div *ngFor="let image of images" class="Visualization-image-container">
            <img [attr.src]="image.image_url | secure | async" [alt]="image.name"/>
            <label *ngFor="let overlay of overlays" 
            [ngStyle]="{
                'position': 'absolute',
                'left.px': overlay.bbox_xyxy_abs[0],
                'top.px': overlay.bbox_xyxy_abs[1],
                'width.px': (overlay.bbox_xyxy_abs[2] - overlay.bbox_xyxy_abs[0]),
                'height.px': (overlay.bbox_xyxy_abs[3] - overlay.bbox_xyxy_abs[1]),
                'background-color': 'red',
                'border': '5px solid blue',
                'z-index': '10'
            }" >
            {{ overlay.text }}
            </label>
        </div>
    </div>
</div>
<div *ngIf="!selectedProject">
<h1>Please select a Project</h1>
</div>