<div *ngIf="selectedProject && isVisualized">
    <h1>{{ selectedProject.name }}</h1>
    <div class="gallery-container">
        <div *ngFor="let image of images" class="Visualization-image-container">
            <img [attr.src]="image.image_url | secure | async" [alt]="image.name"/>
            <div *ngFor="let overlay of overlays" 
            [ngStyle]="{
                'position': 'absolute',
                'left.px': 10,
                'top.px': 10,
                'width.px': 50,
                'height.px': 50,
                'background-color': 'red',
                'border': '5px solid blue',
                'z-index': '10'
            }">
            {{ overlay.text }}
            </div>
        </div>
    </div>
</div>
<div *ngIf="!selectedProject">
<h1>Please select a Project</h1>
</div>