
.selected-image-container img {
    width: 100%;
}

.thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
}

.gallery {
    display: flex;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
}

.gallery div {
    flex: 0 0 10%; 
    box-sizing: border-box;
    padding: 5px;
}

.selected-image-container {
    position: relative;
    flex-grow: 1;
    height: 100%;
}

.gallery-container {
    margin-right: 30px;
}

.gallery-and-button-container {
    display:flex;
}

.selected-overlay {
    border: 5px solid red !important;
}

.selected-overlay-list {
    background-color: darkgray !important;
}

.mat-list-item {
    background-color: #e7e7e7;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: auto;
    width: 90%;
    margin: 1%;
}

.overlays-mat-list mat-list-item:hover {
    background-color: dimgray;
    cursor: pointer;
}

.selcted-image-overlays-container {
    display: flex;
    justify-content: space-between;
}

.selected-image-container {
    flex-grow: 1; 
}

.overlays-container {
    flex: 0 0 20%;
    max-width: 20%;
    height: 100%;
    margin-left: 10px;
}
