

.delete-image-container {
    position: relative;
    display: inline-block;
}

img {
    display: block;
    width: 100%;
}

.delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.flex-container {
    display: flex;
    width: 100%;
}

.top-div {
    flex: 1 1 30%;
}

.bottom-div {
    flex: 1 1 70%;
}

.gallery {
    display: flex;
    overflow-x: auto;
    width: 100%;
    scrollbar-width: thin;
}

.gallery div {
    flex: 0 0 20%; 
    box-sizing: border-box;
    padding: 5px;
}

.gallery-container {
    position: relative;
    margin-right: 30px;
}

tr {
    max-height: 40px;
    min-height: 40px;
    height: 40px;
}

td {
    width: 300px;
    font-size: large;
}

.vis-button {
    margin-left: 20px;
}

.fixed-names-row-size {
    width: 200px;
}