<div *ngIf="selectedProject">
  <div class="flex-container">
    <table>
      <tr>
        <td>Project name:</td>
        <td>{{ selectedProject.name }}</td>
      </tr>
      <tr *ngIf="selectedProject.description!=''">
        <td>Description:</td>
        <td>{{ selectedProject.description }}</td>
      </tr>
      <tr>
        <td>AIModel:</td>
        <td>{{ aiModelName }}</td>
      </tr>
      <tr>
        <td>Visualized:</td>
        <td *ngIf="!isProjectVisualized(selectedProject) && !isProjectPartlyVisualized(selectedProject)">Not yet visualized <button class="vis-button" (click)="startVisualization()" mat-raised-button color="accent">
          <mat-icon>autorenew</mat-icon>
          Visualize
          </button>
        </td>
        <td *ngIf="isProjectVisualized(selectedProject) && !isProjectPartlyVisualized(selectedProject)">Visualized <button class="vis-button" (click)="startVisualization()" mat-raised-button color="accent">
          <mat-icon>autorenew</mat-icon>
          Visualize
          </button>
        </td>
        <td *ngIf="isProjectPartlyVisualized(selectedProject) ">Partly visualized <button class="vis-button" (click)="startVisualizationRest()" mat-raised-button color="accent">
          <mat-icon>autorenew</mat-icon>
          Visualize
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="gallery-container">
    <div class="gallery">
      <div *ngFor="let image of images" class="delete-image-container">
        <img [attr.src]="image.image_url | secure | async" [alt]="image.name"/>
        <div class="delete-icon" (click)="openDialog(image)">X</div>
      </div>
    </div>
  </div>
  <br>
  <form (ngSubmit)="uploadImage()">
    <input type="file" (change)="onFilesSelected($event)" multiple accept="image/*">
    <button mat-raised-button color="accent" type="submit">
      <mat-icon>cloud_upload</mat-icon>
      Upload
    </button>
  </form>
</div>
<div *ngIf="!selectedProject">
  <h1>Please select a Project</h1>
</div>


